
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <link rel="stylesheet" href="/Portal/assets/css/affiliates_marketing.css" />
    <link rel="stylesheet" href="~/Portal/assets/css/affiliates.min.css" />
    <link rel="stylesheet" href="~/Portal/assets/css/phu.min.css" />

    @*<script type="text/javascript" src="/Portal/assets/js/promotions.js"></script>*@
}
<section class="container-dashboard gird-container-full padding-customer">
    <div class="grid-container full mt-5">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <div class="dash-header container-medium center scroll-box">
                    @*<div class="box-intro text-left">
                        <h2 class="title-intro">Welcome to NAGA!</h2>
                        <p class="text-intro">Ut placet inquam tum dicere exorsus est laborum et rationibus conquisitis de homine sensibus reliqui nihil oportere nimium</p>
                        <p class="text-intro">Ut placet inquam tum dicere exorsus est laborum et rationibus conquisitis de homine sensibus reliqui nihil oportere nimium</p>
                        <a class="btn btn-readmore">Read more</a>
                    </div>*@
                    <div class="box-pages">
                        <h2>Our Affiliates Program</h2>
                        <table class="unstriped">
                            <thead>
                                <tr>
                                    <th class="th_table">VIP</th>
                                    <th class="th_table">Benefit</th>
                                    <th class="th_table">Personal Bet / Week</th>
                                    <th class="th_table">System Bet / Week</th>
                                    <th class="th_table">Member</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                <tr>
                                    <td><strong>VIP 1</strong></td>
                                    <td>0.10% Total System Bet</td>

                                    <td>50 Naga</td>
                                    <td>3.000 Naga</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 2</strong></td>
                                    <td>0.15% Total System Bet</td>

                                    <td>100 Naga</td>
                                    <td>6.000 Naga</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 3</strong></td>
                                    <td>0.20% Total System Bet</td>

                                    <td>150 Naga</td>
                                    <td>9.000 Naga</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 4</strong></td>
                                    <td>0.25% Total System Bet</td>

                                    <td>300 Naga</td>
                                    <td>15.000 Naga</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 5</strong></td>
                                    <td>0.30% Total System Bet</td>

                                    <td>450 Naga</td>
                                    <td>27.000 Naga</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 6</strong></td>
                                    <td>0.35% Total System Bet</td>

                                    <td>700 Naga</td>
                                    <td>50.000 Naga</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 7</strong></td>
                                    <td>0.40% Total System Bet</td>

                                    <td>1.200 Naga</td>
                                    <td>81.000 Naga</td>
                                    <td>135</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 8</strong></td>
                                    <td>0.45% Total System Bet</td>

                                    <td>1.700 Naga</td>
                                    <td>150.000 Naga</td>
                                    <td>250</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 9</strong></td>
                                    <td>0.50% Total System Bet</td>

                                    <td>2.500 Naga</td>
                                    <td>243.000 Naga</td>
                                    <td>405</td>
                                </tr>
                                <tr>
                                    <td><strong>VIP 10</strong></td>
                                    <td>0.55% Total System Bet</td>

                                    <td>3.500 Naga</td>
                                    <td>450.000 Naga</td>
                                    <td>700</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-left" style="font-size:12px;font-style:italic;">
                            <span>
                                Note**:
                                <br />
                                - The policy is effective from 3/8/2021 00:00 UTC
                                <br />
                                - Commision closing system every Sunday at 11:59:59 UTC
                                <br />
                                - Commision is paid every Tuesday.
                                <br />
                                - Matching 10% VIP 10
                                <br />
                                - 1 Naga = 10 $
                                <br />
                                - Each member reaches 10 Naga
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_ChatSupport" />