
@{
    ViewData["Title"] = "Promotion";
    Layout = "~/Areas/Portal/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    @*<link rel="stylesheet" href="/Portal/assets/css/affiliates_promotions.css" />*@
    <link rel="stylesheet" href="/Portal/assets/css/foundation.min.css" />
    <script type="text/javascript" src="/Portal/assets/js/vendor/foundation.min.js"></script>
    <script type="text/javascript" src="/Portal/assets/js/promotions.js"></script>

}
<section class="banner-image">
    <div class="grid-container full">
        <div class="grid-x">
            <div class="image-banner">
                <img src="~/Portal/assets/images/login_banner.jpg" alt="">
            </div>
            <div class="cell large-10 medium-12 center">
                <div class="banner-pages scroll-box">
                    <div class="box-intro container-small">
                        <h2 class="title-intro">Promotions</h2>
                        <p class="text-intro">Sunt autem quibusdam et accurate disserendum et accusamus et dolorem ipsum quia dolor repellendus</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-form gird-container-full">
    <div class="grid-container full">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <div class="about container-super">
                    <div class="box-content scroll-box">
                        <div class="col-md-12">
                            <div class="row m-3">
                                <div class="col-md-4">
                                    <div class="img_about">
                                        <a href="affiliates_promotions_items.html"><img src="/Portal/assets/images/casino.jpeg" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="content-about text-left">
                                        <h3 class="title-promo">What is Lorem Ipsum?</h3>
                                        <p>NAGA CASINO slii autem, quibus ego cum a se ipsam causam ista, quae ab eo ortum, tam egregios viros censes tantas res gessisse sine dubio praeclara sunt, explicabo nemo enim ipsam per se ipsam per se esse ratione neque porro quisquam.</p>
                                        <p>
                                            <a class="btn read-more-show">Read More</a> <span class="read-more-content">
                                                Filium morte multavit si sine metu contineret, saluti prospexit civium, qua intellegebat contineri suam atque natum sit, aspernatur aut voluptates omittantur maiorum voluptatum adipiscendarum causa aut ad respondendum reddidisti quorum nihil ut ratione intellegi posse et dolore magnam aliquam.
                                                Filium morte multavit si sine metu contineret, saluti prospexit civium, qua intellegebat contineri suam atque natum sit, aspernatur aut voluptates omittantur maiorum voluptatum adipiscendarum causa aut ad respondendum reddidisti quorum nihil ut ratione intellegi posse et dolore magnam aliquam.<br>
                                                Filium morte multavit si sine metu contineret, saluti prospexit civium, qua intellegebat contineri suam atque natum sit, aspernatur aut voluptates omittantur maiorum voluptatum adipiscendarum causa aut ad respondendum reddidisti quorum nihil ut ratione intellegi posse et dolore magnam aliquam.<br>
                                                Filium morte multavit si sine metu contineret, saluti prospexit civium, qua intellegebat contineri suam atque natum sit, aspernatur aut voluptates omittantur maiorum voluptatum adipiscendarum causa aut ad respondendum reddidisti quorum nihil ut ratione intellegi posse et dolore magnam aliquam.<br>
                                                Filium morte multavit si sine metu contineret, saluti prospexit civium, qua intellegebat contineri suam atque natum sit, aspernatur aut voluptates omittantur maiorum voluptatum adipiscendarum causa aut ad respondendum reddidisti quorum nihil ut ratione intellegi posse et dolore magnam aliquam.<br><a class="btn read-more-hide hide">Read Less</a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="_ChatSupport" />

