@{
    ViewData["Title"] = "Shop";
    Layout = "_Layout";
}
<!--  off_canvus_menu -->
    <div class="off_canvus_item d-flex align-content-between flex-wrap ft_font">
        <div class="canvas_menu_header justify-content-end">
            <span class="close_icon">
                <i class="ti-close"></i>
            </span>
        </div>
        <div class="canvus_item_warp">
            <div class="canvus_item_iner">
                <a class="main_logo" asp-action="Index"><img src="/img/dark_logo.png" srcset="img/dark_2x.png 2x"
                        alt="logo">
                </a>
                <img src="/img/page_1.png" alt="#" class="img-fluid">
                <h2>The world's most
                    powerful website builder.</h2>
                <a href="https://themeforest.net/item/niro-creative-portfolio-agency-html5-template/29817460?s_rank=1" target="_blank" class="cu_btn btn_3">Purchase Niro</a>
            </div>
        </div>
        <div class="menu_btm_section">
            <h5>Connect with us</h5>
            <div class="social_icon">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
            </div>
        </div>
    </div>
    <!--  off_canvus_menu -->

    <!-- shop list section here -->
    <section class="shop_list_section section_padding ft_font">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="sidebar_part">
                        <div class="single_sidebar">
                            <form action="#" class="search_form">
                                <input type="text" name="#" placeholder="Search...">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="single_sidebar pricing_slidebar">
                            <h3 class="mb-5">Filter by price</h3>
                            <div class="price-range-slider">
                                <div id="slider-range_2" class="range-bar"></div>
                                <div class="range-value">
                                    <h5>Area : </h5>
                                    <input type="text" id="amount_2" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="single_sidebar shop_list">
                            <h3>Best Seller</h3>
                            <div class="single_sidebar_post">
                                <a href="product_details.html"><img src="/img/category_post/shop_1.png" alt="#" class="img-fluid"></a>
                                <div class="sidebar_post_content">
                                    <h4> <a href="blog_single.html">Year and slogan <br>
                                            T-shirt</a></h4>
                                    <p>July 06, 2019</p>
                                </div>
                            </div>
                            <div class="single_sidebar_post">
                                <a href="product_details.html"><img src="/img/category_post/shop_2.png" alt="#" class="img-fluid"></a>
                                <div class="sidebar_post_content">
                                    <h4> <a href="blog_single.html">Year and slogan <br>
                                            T-shirt</a></h4>
                                    <p>July 06, 2019</p>
                                </div>
                            </div>
                            <div class="single_sidebar_post">
                                <a href="product_details.html"><img src="/img/category_post/shop_3.png" alt="#" class="img-fluid"></a>
                                <div class="sidebar_post_content">
                                    <h4> <a href="blog_single.html">Year and slogan <br>
                                            T-shirt</a></h4>
                                    <p>July 06, 2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="single_sidebar shop_category">
                            <h3>Categories</h3>
                            <div class="category_list">
                                <ul>
                                    <li><a href="#">Fashion <span>(9)</span></a> </li>
                                    <li><a href="#">Armchair DAR <span>(02)</span></a> </li>
                                    <li><a href="#">Chair & Tables <span>(10)</span></a> </li>
                                    <li><a href="#">Coffeepots Teapots <span>(12)</span></a> </li>
                                    <li><a href="#">DAR Armchair <span>(15)</span></a> </li>
                                    <li><a href="#">Deco <span>(30)</span></a> </li>
                                    <li><a href="#">Decorate & Lighting <span>(25)</span></a> </li>
                                    <li><a href="#">Lighting <span>(12)</span></a> </li>
                                    <li><a href="#">Sphere Light <span>(10)</span></a> </li>
                                    <li><a href="#">Teakettles <span>(08)</span></a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop_page_tittle">
                                <p>Showing 1–09 of 27 results</p>
                                <div class="shop_page_shorting">
                                    <img src="/img/icon/menu_tittle.svg" alt="#">
                                    <img src="/img/icon/menu_tittle_1.svg" alt="#">
                                    <div class="select_area">
                                        <h5>Sort by:</h5>
                                        <select class="niceSelect">
                                            <option value="#">Default</option>
                                            <option value="#">Default</option>
                                            <option value="#">Default</option>
                                            <option value="#">Default</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_8.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_2.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_3.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_4.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_5.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_6.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_7.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner"><img src="/img/shop/product_8.png" alt="#" class="img-fluid"></a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="single_shop_list shop_list_product">
                                <div class="shop_list_img">
                                    <a href="product_details.html" class="shop_list_iner">
                                        <img src="/img/shop/product_9.png" alt="#" class="img-fluid">
                                    </a>
                                    <div class="cart_option">
                                        <a href="#"><i class="ti-heart"></i></a>
                                        <a href="#"><i class="ti-shopping-cart-full"></i></a>
                                    </div>
                                </div>
                                <h4> <a href="product_details.html">Business Stationery</a></h4>
                                <p>$32.00 <span>$42.00</span></p>
                            </div>
                        </div>
                        <div class="col-lg-12 wow fadeInUp" data-wow-delay=".5s">
                            <div class="page_pageination justify-content-center">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#" class="arrow"> <img src="/img/icon/left_arrow_1.png" alt="#"> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop list section end -->

    <!--subscribe form section here -->
    <section class="subscribe_form_section section_padding parallaxie newsletter_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="section_tittle">
                        <h5 class="wow fadeInDown" data-wow-delay=".3s">Subscribe newsletter</h5>
                        <h2 class="wow fadeInDown" data-wow-delay=".3s">Stay connected & get 20% off</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-12">
                    <form>
                        <div class="form-row justify-content-center">
                            <div class="col-xl-3 col-sm-4 wow fadeInDown" data-wow-delay=".3s">
                                <input type="text" class="form-control cu_input" placeholder="Full name*">
                            </div>
                            <div class="col-xl-3 col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                                <input type="email" class="form-control cu_input" placeholder="Email Address*">
                            </div>
                            <div class="col-xl-2 col-sm-4 wow fadeInDown" data-wow-delay=".7s">
                                <button type="submit" class="cu_btn btn_3">Subscribe <i
                                        class="flaticon-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe form section end -->