@*<!-- footer part here -->
    <footer class="footer_section footer_style_3">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <div class="footer_section_content">
                        <a class="navbar-brand main_logo" href="index.html"><img src="/img/dark_logo.png" srcset="/img/dark_2x.png 2x" alt="logo">
                        </a>
                        <p>© Copyright 2022 by <a href="#" class="text_underline">TECHDRUM</a> </p>
                        <div class="social_icon">
                            <a href="#"><i class="ti-dribbble"></i></a>
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@