<!-- newsletter Modal -->
    <div class="modal fade niro-modal niro-newsletter-modal" id="newslettermodal" role="dialog">
        <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="niro_modal_inner">
                    <div class="niro_modal_img">
                        <img src="/img/newsletter_popup_img.png" alt="#" class="img-fluid">
                    </div>
                    <div class="niro_modal_content">
                        <a href="#" class="close_btn niro-intro-modal-close close" data-dismiss="modal"> <i class="ti-close"></i> </a>
                        <img src="/img/5.png" alt="#">
                        <h3>Subscribe to newsletter</h3>
                        <p>Your question or comment is about specific 
                            problem page in the rule.</p>
                        <form action="#">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your email">
                                <div class="input-group-append">
                                    <button type="submit" class="cu_btn btn_3">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- newsletter Modal end-->