<!DOCTYPE html>

<html>
<head>
    @{
        await Html.RenderPartialAsync("_Meta");
        await Html.RenderPartialAsync("Assets/_TopScript");
        await Html.RenderPartialAsync("Assets/_Style");
    }
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", false)
    <partial name="_ChatSupport" />

</body>
</html>