<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="~/Portal/assets/images/logo.png" type="image/x-icon" />
<link rel="icon" href="~/Portal/assets/images/logo.png" type="image/x-icon" />
<title>@ViewData["Title"] | Naga Clubs</title>
