 <!-- offer Modal -->
    <div class="modal fade niro_modal_inner" id="offerbookmodal" role="dialog">
        <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="offer_modal_content">
                    <img src="img/offer_img.png" alt="#" class="offer_img">
                    <h5>Save up to</h5>
                    <h2>30%</h2>
                    <h5>Off in your next order</h5>
                    <p>*This discount is valid until 12.12.2021</p>
                    <a href="#" class="cu_btn btn_3">Get the offer</a>
                    <a href="#" class="close_btn close" data-dismiss="modal">No, Thanks</a>
                </div>
            </div>
        </div>
    </div>
    <!-- offer Modal end-->