<!DOCTYPE html>
<html lang="en-US">
<head>
    @{
        await Html.RenderPartialAsync("_Meta");
        await Html.RenderPartialAsync("Assets/_TopScript");
        await Html.RenderPartialAsync("Assets/_Style");
    }
    @await RenderSectionAsync("Styles", false)
</head>
<body>

@RenderBody()

@{
    await Html.RenderPartialAsync("Assets/_BottomScript");
}
@await RenderSectionAsync("Scripts", false)
</body>
</html>