@using TechDrum.Core.Utils
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
@section Styles{
    <link rel="stylesheet" href="/Portal/assets/css/slider.min.css" />
}

<!--Start Slider-Banner -->

<section class="banner-image">
    <div class="grid-container full">
        <div class="grid-x grid-padding-x">
            <div class="image-banner" id="jssor_1" style="width:1440px;height:768px;">
                <!-- Loading Screen -->
                <div data-u="slides" style="width:1440px;height:768px;">
                    <div data-idle="7000">
                        <img data-u="image" src="/Portal/assets/images/banner/banner.jpg" />
                        <div class="cell large-10 medium-12 center">
                            <div class="intro-banner">
                                <div class="box-intro slider-box">
                                    <p data-t="0" class="maxim">Play crypto games in your browser</p>
                                    <h2 data-t="1" class="title-intro">NAGA CASINO IS A LONG PROFETING</h2>
                                    <p data-t="2" class="text-intro">NAGA CLUBS is Asia's largest online gambling company. that provides online gaming enthusiasts with Asia's leading sports, casino, slots and games brands. We have a team of experts around the world. that strives to create a comprehensive online gaming website using modern technology</p>
                                    <a data-t="5" class="btn btn-intro" href="/select-game">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-idle="7000">
                        <img data-u="image" src="/Portal/assets/images/banner/banner1.jpg" />
                        <div class="cell large-10 medium-12 center">
                            <div class="intro-banner">
                                <div class="box-intro slider-box">
                                    <p data-t="0" class="maxim">The World of Gaming is here</p>
                                    <h2 data-t="1" class="title-intro">JOIN RIGHT NOW TO BE A MEMBER OF NAGA CLUBS</h2>
                                    <p data-t="2" class="text-intro">Raise your horizons and immerse yourself in the crypto world filled with endless fun, excitement, and countless rewards. What's better, you don't have to be a pro to earn a huge amount of money. Curious how you can make money? Place a bet and try your luck by participating with NAGA CLUBS!</p>
                                    <a data-t="5" class="btn btn-intro" href="/signup">Sign up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-idle="7000">
                        <img data-u="image" src="/Portal/assets/images/banner/banner2.jpg" />
                        <div class="cell large-10 medium-12 center">
                            <div class="intro-banner">
                                <div class="box-intro slider-box">
                                    <p data-t="0" class="maxim">A reliable partner for your journey</p>
                                    <h2 data-t="1" class="title-intro">HOW TO BET ON BROKERS LIKE A PRO</h2>
                                    <p data-t="2" class="text-intro">Even if you don't play a particular game, it is important to know the mechanics of the game along with the different techniques of how to win so that you can create a winning betting strategy. Follow different experts and see how events unfold to get a better understanding of how it works to understand how the world's top bookies are organized</p>
                                    <a data-t="5" class="btn btn-intro" href="/select-game">Play Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb132" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                    <div data-u="prototype" class="i">
                        <svg viewbox="0 0 16000 16000">
                            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End Slider-Banner -->

<section class="about">
    <div class="grid-container full">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <div class="discover">
                    <div class="content scroll-box">
                        <h3 class="title-content">NAGA CLUBS IS GLOBAL SCALE</h3>
                        <p class="text-content">NAGA CLUBS has a worldwide scale with lots of players, games and branches all over the world</p>
                    </div>
                    <div class="highlight">
                        <div class="box-highlight">
                            <img src="~/Portal/assets/images/icon_highlight1.png" alt="">
                            <p>
                                <span class="num" data-count="1.5">0</span>M
                                <span class="text"> Players</span>
                            </p>
                        </div>
                        <div class="box-highlight">
                            <img src="~/Portal/assets/images/icon_highlight2.png" alt="">
                            <p>
                                <span class="num" data-count="500">0</span>
                                <span class="text">Games</span>
                            </p>
                        </div>
                        <div class="box-highlight">
                            <img src="~/Portal/assets/images/icon_highlight3.png" alt="">
                            <p>
                                <span class="num" data-count="102">0</span>
                                <span class="text">Countries</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell large-10 medium-12 center">
                <div class="features">
                    <div class="box-pages-home">
                        <h2 class="title-table">TOP RANKING</h2>
                        <table class="unstriped">
                            <thead>
                                <tr>
                                    <th width="14%">Top</th>
                                    <th width="14%">User Name</th>
                                    <th width="14%">Total Bet</th>
                                    <th width="14%">System Bet</th>
                                </tr>
                            </thead>
                            <tbody id="table-ranking">
                            </tbody>
                        </table>
                    </div>
                    <div class="features-intro">
                        <h2 class="title-hero">NAGA CLUBS REGISTER NOW</h2>
                        <p class="text-hero">NAGA CLUBS  is considered a new and very reliable casino. If you are looking for fun games to relieve stress and earn real money. Here is another option that will definitely not disappoint.</p>
                        <a style="font-size:13px;" class="btn" href="/signup">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="cell large-10 medium-12 center">
                <div class="discover scroll-box">
                    <div class="content">
                        <h3 class="title-content">Thousands Of Free Online Games</h3>
                        <p class="text-content">NAGA CLUBS has thousands of free online games for all generation. Play action, sports, and other fun games for free at NAGA CASINO</p>
                    </div>
                    <div class="list_card">
                        <div class="grid-container full">
                            <div class="grid-x grid-margin-x">
                                <div class="cell large-3 medium-4 small-6">
                                    <div class="box_card">
                                        <img class="img_card" src="https://static.egamings.com/games/luckystreak/x_baccarat_m1.jpg" alt="">
                                        <a href="/livegame?ID=ExternalBaccarat:23:5f22e99b1dedc0b87ddd37a4&amp;System=980" class="card_hover"><span class="btn">Play Now</span></a>
                                    </div>
                                </div>
                                <div class="cell large-3 medium-4 small-6">
                                    <div class="box_card">
                                        <img class="img_card" src="https://static.egamings.com/games/luckystreak/blackjack_2.jpg" alt="">
                                        <a href="/livegame?ID=Blackjack:4:58fe05618705a5a2691ef09d&amp;System=980" class="card_hover"><span class="btn">Play Now</span></a>
                                    </div>
                                </div>
                                <div class="cell large-3 medium-4 small-6">
                                    <div class="box_card">
                                        <img class="img_card" src="https://static.egamings.com/games/luckystreak/ls_baccarat.jpg" alt="">
                                        <a href="/livegame?ID=Baccarat:2:58fe05588705a5a2691ef09c&amp;System=980" class="card_hover"><span class="btn">Play Now</span></a>
                                    </div>
                                </div>
                                <div class="cell large-3 medium-4 small-6">
                                    <div class="box_card">
                                        <img class="img_card" src="https://static.egamings.com/games/luckystreak/roulette_1.jpg" alt="">
                                        <a href="/livegame?ID=Roulette:3:58fe06ed8705a5a2691ef0a0&amp;System=980" class="card_hover"><span class="btn">Play Now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var url = '@FundistHelper.ClientConfigs.BaseUrlPortal';
</script>
@section Scripts{
    <script type="text/javascript" src="/Portal/assets/js/slider.js"></script>
    <script src="/Portal/assets/js/slider.min.js" type="text/javascript"></script>
    <script src="/Portal/assets/js/ranking.min.js" type="text/javascript"></script>
}