@model TechDrum.Core.Models.Authentication.ChangePasswordModel
@{

    Layout = "_Layout";
    ViewData[ViewDataKey.Title] = Messages.Auth.PageTitleChangePassword;
}
@section Styles{
    <link rel="stylesheet" href="~/Portal/assets/css/login_register.css" />
}
<section class="container-form gird-container-full padding-customer-1">
    <div class="grid-container full">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <form class="secure-form container-small validate-form m-3" id="formResetPass"  asp-controller="Auth" asp-action="SubmitChangePassword">
                    @*<h4 class="text-center title_secure">Login</h4>*@
                    <div asp-validation-summary="ModelOnly" class="textred"></div>
                    <input type="hidden" asp-for="Continue" />
                    <div class="import">
                        <label style="text-align:left">
                            <strong>Old Password*</strong>
                            <input asp-for="OldPass" type="password" name="OldPass" title="Old Password" placeholder="&#xf023; Enter old password" style="font-family:Arial, FontAwesome" />
                            <span asp-validation-for="OldPass" class="textred"></span>
                        </label>

                        <label style="text-align:left">
                            <strong>New Password*</strong>
                            <input asp-for="CreatePasswordNew" type="password" name="CreatePasswordNew" title="Create new password" placeholder="&#xf023; Enter new password" style="font-family:Arial, FontAwesome" />
                            <span asp-validation-for="CreatePasswordNew" class="textred"></span>
                        </label>
                        <label style="text-align:left">
                            <strong>Confirm New Password*</strong>
                            <input asp-for="ConfirmPasswordNew" type="password" name="ConfirmPasswordNew" title="Confirm new password" placeholder="&#xf023; Enter confirm new password" style="font-family:Arial, FontAwesome" aria-label="ConfirmPassword" aria-describedby="addon-wrapping" title="Confirm Password" />
                            <span asp-validation-for="ConfirmPasswordNew" class="textred"></span>
                        </label>
                    </div>
                    <div class="summit">
                        <button class="btn" id="btnResetPass" type="submit"><span>Change Password</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript" src="~/js/Load/Load.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}