@model TechDrum.Core.Models.Authentication.ForgetPasswordModel
@{
    Layout = "_AnonymousLayout";
    ViewData[ViewDataKey.Title] = Messages.Auth.PageTitleForgetPassword;
}
@section Styles{
    <link rel="stylesheet" href="~/Portal/assets/css/login_register.css" />
}
<section class="container-form gird-container-full padding-customer">
    <div class="grid-container full mt-5">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <form class="secure-form container-small validate-form m-3" id="formMail" asp-action="SubmitForgetPassword">
                    <div asp-validation-summary="ModelOnly" class="textred"></div>
                    <div class="import">
                        <label style="text-align:left">
                            <strong>User Name*</strong>
                            <input asp-for="UserName" type="text" class="form-control" title="UserName" placeholder=" User Name" aria-label="Username" aria-describedby="addon-wrapping" required>
                            <span asp-validation-for="UserName" class="textred"></span>
                        </label>
                    </div>
                    <div class="summit">
                        <button class="btn" id="btnForgetPass" type="submit"><span>Send password reset email</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript" src="~/js/Load/Load.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}