@{
    ViewData["Title"] = "Locked out";
}

<section class="container-form gird-container-full padding-customer mb-3">
    <div class="grid-container full mt-5">
        <div class="grid-x grid-padding-x" style="padding:0 35rem;">
            <div class="cell center" style="border: 1px solid; background: #dbd7d7; margin-bottom: 7rem;">
                <h2 class="text-danger"><i class="fas fa-exclamation"></i> @ViewData["Title"]</h2>
                <p class="text-danger">This account has been locked out, please try again later.</p>
            </div>
        </div>
    </div>
</section>
