@model TechDrum.Core.ViewModels.AuthViewModels.LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}


<section class="container-form gird-container-full padding-customer mb-3">
    <div class="grid-container full mt-5">
        <div class=" w-75 center" style="padding:1rem;">
            <div class="cell center" style="border: 1px solid; margin-bottom: 7rem;">
                <h2>@ViewData["Title"]</h2>
                <hr />
                <p>
                    You have requested to login with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at login or disable 2FA and login again.
                </p>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="RecoveryCode"></label>
                        <input asp-for="RecoveryCode" class="form-control w-50 center" autocomplete="off" />
                        <div asp-validation-summary="All" class="text-danger mt-3"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default d-inline-block mt-3 w-auto mb-3" style="padding: 7px; width: 6rem !important;">Verify</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}