@model TechDrum.Core.Models.Authentication.SetPasswordModel
@{
    Layout = "_AnonymousLayout";
    ViewData[ViewDataKey.Title] = Messages.Auth.PageTitleSetPassword;
}
@section Styles{
    <link rel="stylesheet" href="~/Portal/assets/css/login_register.css" />
}
<section class="container-form gird-container-full padding-customer">
    <div class="grid-container full mt-5">
        <div class="grid-x grid-padding-x">
            <div class="cell large-10 medium-12 center">
                <form class="secure-form container-small validate-form m-3" asp-area="Portal" asp-controller="Auth" asp-action="SubmitSetPassword">
                    @*<h4 class="text-center title_secure">Login</h4>*@
                    <div asp-validation-summary="ModelOnly" class="textred"></div>
                    <input type="hidden" asp-for="Token" />
                    <input type="hidden" asp-for="Username" />
                    <div class="import">
                        <label style="text-align:left">
                            <strong>New password*</strong>
                            <input asp-for="Password" type="Password" class="form-control" title="New password*" placeholder="&#xf023; Typo your new password*" style="font-family:Arial, FontAwesome" aria-label="Password" aria-describedby="addon-wrapping">
                            <span asp-validation-for="Password" class="textred"></span>
                        </label>

                        <label style="text-align:left">
                            <strong>Confirm new password*</strong>
                            <input asp-for="ConfirmPassword" type="Password" class="form-control" title="Confirm new password*" placeholder="&#xf023; Typo your confirm new password*" style="font-family:Arial, FontAwesome" aria-label="ConfirmPassword" aria-describedby="addon-wrapping">
                            <span asp-validation-for="ConfirmPassword" class="textred"></span>
                        </label>
                    </div>
                    <div class="summit">
                        <button class="btn" type="submit"><span>Change Password</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}